/* Variables start */
:root {
  --color-gold: #bdae82;
  --color-black: #000000;
  --color-white: #ffffff;
  --font-size1: 60px;
  --font-size2: 40px;
}

/* Variables end */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-white);
  margin: 0;
  background-color: var(--color-black);
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding-top: 100px;
}

h1 {
  font-family: Merriweather;
  font-size: var(--font-size1);
  font-weight: 700;
  color: var(--color-white);
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 60px;
  margin: 0;
  padding-bottom: 10px;
}

h2 {
  font-family: Merriweather;
  font-size: var(--font-size2);
  font-weight: 700;
  color: var(--color-gold);
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}

.section-title::before {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0 0px;
  flex: 1 0 20px;
}
.section-title::after {
  content: "";
  border-top: 2px solid;
  margin: 0 0px 0 20px;
  flex: 1 0 20px;
}
.section-title-hero::after {
  margin: 0 0 0 0;
}

.section-title-wrapper {
  width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

button {
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  border: 1px var(--color-gold) solid;
}

.btn-gold {
  width: 220px;
  height: 55px;
  background-color: var(--color-gold);
}

.btn-gold:hover {
  color: var(--color-white);
  transition: 0.3s;
}

.btn-black {
  width: 220px;
  height: 55px;
  color: var(--color-gold);
  background-color: transparent;
  margin: 0px 3px;
}

.btn-black:hover,
.btn-black:active,
.btn-black.active {
  color: var(--color-black);
  background-color: var(--color-gold);
  transition: 0.3s;
}
/* HEADER styles start */

.header-container {
  background: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-left: auto;
  margin-right: 12px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  width: 500px;
}

.nav-link {
  padding: 0 15px;
  line-height: 50px;
  transition: 0.3s;
}

.nav-link:active,
.nav-link:hover,
.nav-link.active {
  color: var(--color-gold);
}

.lang-change {
  display: inline-flex;
  padding: 0;
  line-height: 50px;
  transition: 0.3s;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 70px;
  margin-right: 5px;
}
.lang-change .nav-link {
  padding: 8px;
}

.lang-change a {
  padding: 0;
}
/* HEADER styles end */
/* MAIN styles start */
.hero-container {
  background-image: url("./assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.slogan {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  max-width: 480px;
  padding-bottom: 25px;
}

.hero-container .btn-gold {
  margin-bottom: 330px;
}

.skills-items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-position: center top;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 320px;
  padding: 0 20px;
  text-align: center;
}

.skills-items:nth-child(1) {
  background-image: url("./assets/svg/camera 1.svg");
  background-size: auto 50px;
  background-position: center 0px;
  background-repeat: no-repeat;
}
.skills-items:nth-child(2) {
  background-image: url("./assets/svg/video 1.svg");
  background-size: auto 50px;
  background-position: center 0px;
  background-repeat: no-repeat;
}
.skills-items:nth-child(3) {
  background-image: url("./assets/svg/image 1.svg");
  background-size: auto 50px;
  background-position: center 0px;
  background-repeat: no-repeat;
}
.skills-items:nth-child(4) {
  background-image: url("./assets/svg/mic 1.svg");
  background-size: auto 50px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.skill-title {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 0px;
}

.skill-desc {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 10px;
}

.portfolio-season {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.portfolio-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 60px;
}

.portfolio-img img {
  width: 450px;
  height: 560px;
  margin: 0;
}

.wedding-video-wrapper {
  background-image: url("./assets/video/video-player.jpg");
  background-repeat: no-repeat;
  width: 1400px;
  height: 705px;
  position: relative;
}
.wedding-video-wrapper:after {
  content: "";
  width: 130px;
  height: 130px;
  background: url("./assets/svg/Play_Unvisited.svg") no-repeat;
  position: absolute;
  top: calc(50% - 65px);
  left: calc(50% - 64px);
}

.wedding-video-wrapper:hover::after {
  content: "";
  width: 130px;
  height: 130px;
  background: url("./assets/svg/Play_hover.svg") no-repeat;
  position: absolute;
  top: calc(50% - 65px);
  left: calc(50% - 64px);
  cursor: pointer;
}
/*todo - something wrong with playbutton*/

.price-items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-position: center top;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 450px;
  padding: 0 20px;
  text-align: center;
  border: 2px var(--color-gold) solid;
}

.price-title {
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 42px;
  margin: 0;
  color: var(--color-white);
}

.price-amount {
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 20px;
  margin: 0;
  color: var(--color-gold);
}

.price-desc {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  white-space: pre-line;
  margin: 20px 0;
}

.price-item button {
  margin: 20px 0 40px;
}

.contacts-container {
  background-image: url("./assets/img/contacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 1440px;
  height: 700px;
  margin: 100px auto 0;
}

.contacts-container .section {
  width: 50%;
  margin-left: auto;
  padding: 60px 20px 0px 27px;
}
.contacts-title {
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
}

.send-form {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 0 223px;
}

.send-form input,
.send-form textarea {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-gold);
  border: 3px var(--color-gold) solid;
  width: 450px;
  height: 50px;
  margin-top: 20px;
  resize: none;
  padding-left: 17px;
}

.send-form textarea {
  height: 100px;
}


.send-form input::placeholder {
  font-family: inherit;
  font-size: 20px;
  color: var(--color-gold);
}

.send-form textarea::placeholder {
  font-family: inherit;
  color: var(--color-gold);
  margin-left: 0;
}

.send-form button {
  margin: 27px 0 0 -230px;
}

/* MAIN styles end */
/* FOOTER styles start */

.footer-container{
  display: flex;
  height: 150px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
}

.year {
  padding: 0 15px;
}

.school{
  padding-left: 40px;
}

.social-links {
  display: flex;
}

.social-links img{
  /* height: 32px; */
  /* width: 32px; */
  /* margin-left: 20px; */
  padding-top: 20px;
  padding-left: 20px;
}

/* FOOTER styles end */
